<% provide(:title,"About us") %>

<section id="content">
<section id="inner-headline">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<ul class="breadcrumb">
					<li><a href="#"><i class="fa fa-home"></i></a><i class="icon-angle-right"></i></li>
					<li class="active">About Us</li>
				</ul>
			</div>
		</div>
	</div>
	</section>
	<section id="content">
	<div class="container">
		<div class="row">
			<div class="col-lg-8" style = "black;">
			<h1>
			something goes here!pearmbpormpovmp mrepomoprem ]eri meimieorn i[oerninerne
			aev[oi nre[oi no[ieroinr]vnoiearn] onreoinoiernrenoarei]anarepnp[n
			</div>
			<div class = "col-lg-4">
				<h3>Add Some things like k! banners here...</h3>
			</div>
		</div>
	</div>
	</section>
	<div class="map">
		<iframe src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Kuningan,+Jakarta+Capital+Region,+Indonesia&amp;aq=3&amp;oq=kuningan+&amp;sll=37.0625,-95.677068&amp;sspn=37.410045,86.572266&amp;ie=UTF8&amp;hq=&amp;hnear=Kuningan&amp;t=m&amp;z=14&amp;ll=-6.238824,106.830177&amp;output=embed">
		</iframe>
	</div>
</section>	
