<% provide(:title,"About us") %>
<h1>Home#about</h1>

<div class="row">
	<div style="padding-left:10%; padding-right:10%;">

		<div class="border-blockos border-left changeBorder" style="width:70%; float:left; min-height:600px; background-color:#DDD; text-align:left;">
			<p style="font-size:40px;">About Us</p>
			<div style="color:#333; font-size:16px;">
			<hr class="colored-seperator left-seperator change"/>
			<p>Some random paragraph relating to the topic. This page will be the common format for all other pages. Like the template. Im just typing out some random stuff just to fill this up.
			<p>Its the future.</p>
			<p>The humans have finally achieved fitting means to travel through space. This physical realization, led to another rational one, the fact that we are not alone. An alien species called the Formics, and dubbed buggers, owing to their insectlike manifestation, are our intergalactic neighbors. The Formics assault and the two races enter into two full-scale wars, with the humans barely holding out in each. In preparation for the third war, the International Fleet creates a Battle School, a program tailored to find the most brilliant children and to train them to end the Formic threat that kept plaguing humanity. And in comes Ender Wiggins. </p>
			<p class="quote changeBorder">"Some Quotation speaking of some valuable stuff.<br/> Haha, yeah right. Something Gandhi or Lincoln said maybe?" </br>~ Some Famous Person</p>
			<p>This is basically how Enders Game a 1985 novel, by Orson Scott Card is set up.</p>
			<p>The author s prose is of the clear, crisp and clean cut sort. He doesnt draw attention to himself as the author. instead, he steps aside and focuses on enveloping the reader in Enders world and quite visibly succeeds. He achieves the perfect balance in the portrayal of Ender where he poises innocence on par with bravado. </p>
			 
			<p>Sharp dialogue. Tremendous characterization. Perfect pacing. An out of this world setting, literally. This book is perfect.</p>
			<p>A parallel story line follows Peter Wiggins venture to control Earth. Though it feels unnecessary, it sets up the story for the sequel.</p>
			</div>
			<br/><br/><br/>
			
		</div>
		<div class="border-blockos changeBorder"style="width:25%; float:right; min-height:600px; text-align:left;">
			space for poster :)
			<img src="http://hughillustration.com/wp-content/uploads/2012/07/CM20-poster-2-multi-flat.png" height = 600 width = 275>
		</div>

	</div>

</div>