<% provide(:title,"Home") %>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">


            <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval=3000 >

                <!-- Carousel indicators -->

                <ol class="carousel-indicators">

                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>

                    <li data-target="#myCarousel" data-slide-to="1"></li>

                    <li data-target="#myCarousel" data-slide-to="2"></li>

                </ol>   

                <!-- Carousel items -->

                <div class="carousel-inner">

                    <div class="item active">
                        <%= image_tag 'firefox.png' %>



                    </div>

                    <div class="item">

                        <%= image_tag 'motivation.jpg' %>


                    </div>

                    <div class="item">

                        <%= image_tag 'wallpaper.jpg' %>


                    </div>

                </div>

                <!-- Carousel nav -->

                <a class="carousel-control left" href="#myCarousel" data-slide="prev">

                    <span class="glyphicon glyphicon-chevron-left"></span>

                </a>

                <a class="carousel-control right" href="#myCarousel" data-slide="next">

                    <span class="glyphicon glyphicon-chevron-right"></span>

                </a>

            </div>
        </div>
        <div class="col-md-2">
        </div>

    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            &nbsp;&nbsp;
            <h3 style="color:#99CCFF">Welcome</h3>
            We are still building.. <br>Please visit after some time.
        </div>
    </div>
