<% provide(:title,"Team") %>

<div class="row">
	<div style="padding-left:10%; padding-right:10%;">

		<div class=" col-md-8 border-blockos changeBorder" style="width:70%; float:right; min-height:600px; background-color:#DDD; text-align:left;">
			<h3>Web</h3>
			<center><br>
			<div class="col-md-6 ">
			<img src="assets/contact.jpg" width=200px height=200px>
			<h4 style="color:#2c3e50">K. Aswin Murugesh</h4>
			Dept. of Information Science and Technology
			<div style="margin-top:30px;"><i class="fa fa-envelope"></i> kweb@kurukshetra.org.in</div>
		</div>
		<div class="col-md-6">
			<img src="assets/contact.jpg" width=200px height=200px>
			<h4>Prashant Anantharaman</h4>
			Dept. Of Computer Science Engineering
		</div>
			
		</div>
		<div class=" col-md-4 border-blockos border-left changeBorder"style="width:25%; float: left; min-height:600px; text-align:left;">
			<bdi style="font-size:22px;">Departments</bdi><hr class="colored-seperator left-seperator change"/>
			<div style="font-size:20px;">
				<p><i class="icon-chevron-right changeColor"></i> <a class="light-link" href="">QMS</a><br/>
					<i class="icon-chevron-right changeColor"></i> <a class="light-link" href="">WEB</a><br/>
					<i class="icon-chevron-right changeColor"></i> <a class="light-link" href="">MARKETING</a><br/>
					<i class="icon-chevron-right changeColor"></i> <a class="light-link" href="">HR</a><br/>
					<i class="icon-chevron-right changeColor"></i> <a class="light-link" href="">Support Groups</a><br/>
					<i class="icon-chevron-right changeColor"></i> <a class="light-link" href="">People Representatives</a><br/>
			</div>		
				</p><br/><br/>
		</div>

	</div>

</div>

