<% provide(:title,"Team") %>

<div class="main-div">
	<div class="row">
		<div class="col-md-3" style="margin-top:30px;margin-left:5px;">
			<ul class="nav nav-stacked">
				<li><a href="#">QMS</a></li>
				<li><a href="#">FINANCE</a></li>
				<li><a href="#">IR</a></li>
				<li><a href="#">WEB</a></li>
				<li><a href="#">MARKETING</a></li>
				<li><a href="#">WORKSHOPS</a></li>
				<li><a href="#">EVENTS</a></li>
				<li><a href="#">HOSPITALITY</a></li>
				<li><a href="#">MEDIA</a></li>
				<li><a href="#">HR</a></li>
			</ul>
		</div>
		<div class="col-md-8">
			<h3>Web</h3>
			<br>
			<div class="col-md-6">
			<img src="assets/contact.jpg" width=200px height=200px>
			<h4 style="color:#2c3e50">K. Aswin Murugesh</h4>
			Dept. of Information Science and Technology
			<div style="margin-top:30px;"><i class="fa fa-envelope"></i> kweb@kurukshetra.org.in</div>
		</div>
		<div class="col-md-6">
			<img src="assets/contact.jpg" width=200px height=200px>
			<h4>Prashant Anantharaman</h4>
			Dept. Of Computer Science Engineering
		</div>
		</div>

	</div>
</div>

