<% provide(:title, "Projects") %>
  <div class="main-div">
  <div class="row">
    <div class="col-md-2" style="margin-top:30px;margin-left:5px;">
      <ul class="nav nav-stacked" style="position:fixed;">
        <li><a href="#">Current</a></li>
        <li><a href="#">Previous Years</a></li>
      </ul>
    </div>
    <div class="col-md-7">
      <h3>Title of the Project</h3>
      <img src="assets/images/facebook-cover-photos.jpg" height=400px width=800px><br><br><br>
      This is the title of the project and the description of the event is given here. Hello how are you
      <h3>Current Status</h3>
      This is the current status of the project. This is oly for the current projects. <br><br>
      <h3>Application</h3>
      These are the uses of the project and where they are applied. This field is only for the current project.<br><br>
      <h3>Advantages</h3>
      These are the advantages of the project. This is only for the previous year projects.
      <br><br>
      <h3>Student details</h3>
      These are the students who worked for this project. This is for both the current and previous projects.<br><br>
      <h3>Suggestions</h3>
      Please kindly provide any suggestion you have to provide for this project. This suggestion has to be sent along with the project title to the projects team email. 
      <br><br>
      <textarea cols=80 rows=20 ></textarea><br><br>

    </div>
    <div class="col-md-1"></div>
    <div class="col-md-1">
      <div align="center">
      <h3>Date</h3>
      02-03-14
      </div>
    </div>
  </div>
</div>
